.tarifses {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2.4rem;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 1200px) {
    gap: 1.6rem;
  }
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__group {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  @media (max-width: 1200px) {
    gap: 1.6rem;
  }
}

.description {
  letter-spacing: -0.8px;
}

.right {
  max-width: 30rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

.tarifs {
  width: 100%;
  max-height: 25.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  padding-right: 0.8rem;

  overflow-y: auto;

  scrollbar-color: var(--faq-borders) transparent;
  scrollbar-width: thin;

  &__title {
    font: {
      size: clamp(1.2rem, 3vw, 1.6rem);
      weight: 700;
    }
    line-height: 120%;
    letter-spacing: -0.96px;
  }
  @media (max-width: 1200px) {
    flex-direction: row;
  }
  @media (max-width: 992px) {
    padding-bottom: 1.6rem;
  }
}
