.footer {
  position: relative;

  display: flex;
  justify-content: center;
  gap: 2.4rem;

  padding: {
    top: 1.2rem;
    bottom: 1.2rem;
  }

  &__link {
    letter-spacing: -0.8px;
    color: var(--additional-text);

    transition: var(--transition-text);
    &:hover {
      color: var(--main-text);
    }
  }

  &::after {
    content: '';
    position: absolute;

    width: calc(100% - 6rem);
    height: 1px;

    left: 3rem;
    top: 0;

    background: var(--additional-text);
  }
  @media (max-width: 767px) {
    flex-direction: column;
    text-align: center;
    gap: 0.4rem;
  }
}
