.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  padding: {
    top: 1.6rem;
    bottom: 1.6rem;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
  }
  &__title {
    width: 100%;
    max-width: 31rem;
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
  &__button {
    @media (max-width: 1200px) {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    padding-bottom: 0;
    gap: 1.2rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

.info {
  overflow: visible !important;
  min-height: 32rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;

  padding: {
    top: 2.4rem;
    right: calc(3.2rem + var(--container-padding));
    // right: 3.2rem;
    bottom: 2.4rem;
    left: 3.2rem;
  }

  border-radius: 1.6rem 0px 0px 1.6rem;

  transform: translateX(var(--container-padding));

  background: var(--accient-gradient);

  &__title {
    font: {
      size: clamp(1.2rem, 2.5vw, 2rem);
      weight: 900;
    }
  }

  &__groups {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.8rem;
    @media (max-width: 1200px) {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  @media (max-width: 1200px) {
    min-height: auto;
    padding: 0;
    gap: 0.8rem;

    background: transparent;
    transform: translateX(0);
  }
}

.group {
  z-index: 3;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  &__img {
    width: 2.4rem;
  }
  &__text {
    max-width: 42rem;
    width: 100%;
  }
  @media (max-width: 1200px) {
    width: calc(50% - (0.8rem / 2));
  }
  @media (max-width: 767px) {
    width: 100%;
    align-items: flex-start;
  }
}
.text {
  &__title {
    font-weight: 700;
    letter-spacing: -0.2px;
  }
  &__subtitle {
    font: {
      size: 0.8rem;
      weight: 300;
    }
    letter-spacing: -0.64px;
    color: var(--text-desk);
  }
}

.paralax_img {
  position: absolute;
  img {
    // width: 3.2rem !important;
    // box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
  }
  @media (max-width: 1200px) {
    display: none;
  }
}
