.promotion {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-content: space-between;
  margin: var(--container-margin);
  &__block {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    @media (max-width: 1200px) {
      width: 100%;
      flex-direction: column;
      line-height: 110%;
    }
  }

  &__text {
    width: fit-content;
    font: {
      size: 1.2rem;
      weight: 700;
    }
    text-align: center;
    letter-spacing: -0.96px;
    span {
      color: var(--accient-color-1);
    }
  }

  &__img {
    width: 3.2rem;
  }
  @media (max-width: 1200px) {
    align-items: flex-start;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
