.nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  // @media (max-width: 992px) {
  //   position: fixed;
  //   // #TODO: Отредачить значение top
  //   top: 0;
  //   left: 0;

  //   width: 100%;
  //   padding: 0.8rem;

  //   align-items: flex-start;
  //   flex-direction: column;
  //   gap: 0.8rem;

  //   background: #000;

  //   z-index: 10;
  // }
  &__openned {
    display: block;
  }
}

.link {
  display: block;
  position: relative;
  padding: 0.4rem 0;
  text-wrap: nowrap;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0;
    height: 2px;

    opacity: 0;

    background: var(--main-text);

    transition: 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
    opacity: 1;
    left: 0;
  }
}
.burger {
  display: none;

  position: relative;

  width: 48px;
  padding: 0.4rem;

  aspect-ratio: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  border-radius: 0.4rem;
  border: 1px solid var(--border-hover);

  z-index: 11;

  @media (max-width: 992px) {
    display: flex;
  }

  &__row {
    width: 32px;
    height: 2px;
    border-radius: 0.4rem;
    background: var(--main-text);
  }
}

.opened {
  position: absolute;

  &:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  &:nth-child(1) {
    rotate: 45deg;
  }
  &:nth-child(3) {
    rotate: -45deg;
  }
}
